@import "tailwindcss";

@plugin "@tailwindcss/typography";

* {
  @apply antialiased;
  text-rendering: geometricPrecision;
}

::-moz-selection {
  @apply bg-zinc-600 text-white;
  -webkit-text-fill-color: white;
}

::selection {
  @apply bg-zinc-600 text-white;
  -webkit-text-fill-color: white;
}

.container {
  @apply px-2 mx-auto md:px-0 md:max-w-[1200px];
}

@theme {
  --font-sans: var(--sans-font);
  --font-mono: var(--mono-font);

  --animate-marquee: marquee 25s linear infinite;
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-50%);
  }
}
